{% extends 'base.html.twig' %}

{% block title %}Client's orders{% endblock %}

{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/orders">Client's orders</a>

            <form class="d-flex" role="search" action="/orders" method="get">
                <input type="hidden" name="sort_by" value="{{ sortBy }}"/>
                <input class="form-control me-2" type="search" placeholder="Ref or symbol" aria-label="Ref or symbol" name="q" value="{{ query }}">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </nav>

	<div class="container">
        {% block contents %}{% endblock %}
	</div>
{% endblock %}
