{% extends 'base.html.twig' %}

{% block title %}
    {% if orders|length == 0 %}
        Client's orders not found
    {% elseif query is empty %}
        Client's orders
    {% else %}
        Client's orders search results: {{ query }}
    {% endif %}
{% endblock %}

{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/orders">Client's orders</a>

            {% include 'orders/search_form.html.twig' %}
        </div>
    </nav>

	<div class="container">
        <div class="row mt-5 text-center">
            {% if orders|length > 0 %}
                {% include 'orders/table.html.twig' %}
            {% else %}
                <h3>
                    {% if query is empty %}
                        Orders not found
                    {% else %}
                        "{{ query }}" not found
                    {% endif %}
                </h3>
            {% endif %}
        </div>
	</div>
{% endblock %}
